* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


/* VARIABLES */

:root {
    --gris-oscuro: #212121;
    --gris-claro: #303030;
    --josefine: 'Josefin Sans', sans-serif;
    --red: /* #F14747 */
    /* #FFC300  */
    #FF5733
}

.linea {
    background: var(--red);
    border: solid var(--red);
}


/* FONDOS */

body {
    background-color: var(--gris-claro);
    margin-bottom: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--gris-oscuro);
}


/* HEADER */

header ul.name-header {
    padding: 0;
    padding-left: 100px;
}

header ul {
    display: flex;
    color: #7B7B7B;
    font-family: var(--josefine);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
    justify-content: center;
    padding-right: 100px;
}

header ul li {
    margin: 30px;
    list-style-type: none;
}

header ul li a {
    color: #7B7B7B;
    text-decoration: none;
}


/* SECCIÓN PRINCIPAL */

.primary {
    display: flex;
    justify-content: center;
    margin: 56px;
    margin-bottom: 0;
}

.primary .presentation {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: var(--josefine);
    font-size: 40px;
    color: white;
}

.primary h2 {
    text-align: start;
    line-height: 5rem;
}

.primary span {
    color: var(--red);
}

.primary h4 {
    text-align: left;
    font-style: oblique;
    font-size: 35px;
    color: #7B7B7B;
}

#img-container {
    width: 50%;
    text-align: center;
}

#primary-image {
    width: 70%;
}

.mobile {
    display: none;
}

.show-more {
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    margin: 50px auto;
    justify-content: center;
    text-align: center;
    background-color: var(--red);
    transition: all .7s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: var(--josefine);
}


.show-more:active {
    background-color: #651717;
}


/* About */

#about {
    padding-top: 50px;
}

#about .presentation {
    color: white;
    font-family: var(--josefine);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding: 35px;
}

#about h2 {
    color: white;
    font-size: 32px;
    font-family: var(--josefine);
    margin-bottom: 30px;
    text-align: center;
}

.main-p {
    font-size: 26px;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.info-container .info-item {
    max-width: 50%;
    flex: 0 0 50%;
    margin: 15px 0;
}

.info-container span {
    font-weight: 600;
    font-size: 16px;
    color: var(--red);
}

.presentation .info-p {
    font-size: 18px;
    text-align: left;
    line-height: 26px;
}


/* ABOUT ME */

.about-me {
    font-family: var(--josefine);
}

.about-me #main-title {
    font-size: 35px;
    text-align: center;
    color: white;
    margin: 50px 0;
}


/* Sección Académica */

.about-me .study-cards {
    display: flex;
}

.about-me .study-cards article {
    width: 50%;
    margin: 0px 50px 50px 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me .study-cards .study-title {
    margin-bottom: 40px;
    font-size: 35px;
    color: var(--red);
    background-color: var(--gris-oscuro);
    width: 90%;
    padding: 16px;
    text-align: center;
}

.about-me .study-cards .institute {
    color: var(--red);
}

.about-me .study-cards .study-info {
    color: white;
    margin-top: 30px;
}

.about-me .study-cards .act-work {
    text-align: center;
    line-height: 22px;
}


/* Skills Section */

.skills {
    margin-top: 40px;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 65px;
}

.skills ul li {
    display: flex;
    font-family: var(--josefine);
    color: white;
    font-size: 24px;
    flex: 0 0 100%;
    justify-content: space-between;
    margin-bottom: 7px;
}

.skills ul li:last-child {
    margin-bottom: 0;
}

.skills span {
    font-size: 20px;
}

.skills ul li #solid {
    color: goldenrod;
}


/* Services Section */

#about .title-serv {
    margin-bottom: 50px;
}

#about .title-serv h2 {
    margin: 15px 0;
}

.services {
    display: flex;
    margin: 5em 0;
    font-family: var(--josefine);
    justify-content: space-evenly;
}

.services .card {
    border-radius: 30px;
    padding: 30px 0;
    text-align: center;
    background-color: var(--gris-oscuro);
    width: 25%;
    transition: all 0.4s;
}

.services .card .icon {
    font-size: 50px;
    margin: 20px 0;
    color: var(--red);
}

.services .card .serv-titl {
    font-size: 20px;
    color: white;
}

.services .card p {
    margin-top: 15px;
    color: white;
}

.services .card:hover {
    box-shadow: 0px 0px 20px var(--red);
    transform: scale(1.05);
}

.in-progress {
    margin-top: 70px;
    text-align: center;
    color: white;
}

.in-progress h3 {
    margin-top: 16px;
    font-family: var(--josefine);
    font-size: 36px;
}

.in-progress i {
    font-size: 50px;
}


/* CONTACT SECTION */

.contact-me{
    margin: auto;
}

.contact-me #form {
    background-color: #ebebeb;
    border-radius: 20px;
    padding: 25px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.contact-me #form h3 {
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: var(--gris-claro);
}

.contact-me #form p {
    width: 100%;
    font-size: 11.5px;
    font-family: 'Josefin Sans';
    margin: 20px 0;
}

.contact-me #form label {
    font-size: 14px;
    margin: 20px 0;
}

.contact-me #form span {
    color: var(--red);
}

.contact-me #form input,
textarea {
    border-radius: 6px;
    border: solid 1.4px var(--gris-claro);
    padding: 10px 7px;
    resize: none;
}

.contact-me #form button {
    margin-top: 20px;
    padding: 7px 0;
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: white;
    background-color: var(--gris-claro);
}

@media(max-width:425px) {
    header {
        margin-bottom: 50px;
    }
    header ul.name-header {
        padding: 0;
    }
    header ul {
        font-size: 16px;
        justify-content: start;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    header ul li a {
        display: none;
    }
    #img-container {
        display: none;
    }
    .primary {
        margin: 0 15px;
    }
    .primary .presentation {
        font-size: 32px;
        text-align: start;
        margin: 0;
        width: 100%;
    }
    .primary h2 {
        text-align: start;
        line-height: 50px;
    }
    .primary h4 {
        font-size: 19px;
    }
    .mobile {
        display: block;
        margin-top: 50px;
    }
    .show-more {
        display: flex;
        width: 40%;
        padding: 20px;
        border-radius: 20px;
        margin: 50px auto;
        justify-content: center;
        background-color: var(--red);
        transition: all .7s ease;
    }
    .show-more a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        font-family: var(--josefine);
    }
    .show-more:active {
        background-color: #651717;
    }
    .skills .title-serv {
        display: block;
    }
    .downl-mobile {
        display: block;
    }

    .downl-PC{
        display: none;
    }
    #about {
        display: none;
        margin-top: 30px;
        padding: 0 10px;
        padding-top: 50px;
    }
    #about .presentation {
        width: 100%;
        padding: 0;
    }
    #about .services {
        display: none;
    }
    .info-container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .info-container .info-item {
        max-width: 100%;
    }
    .about-me .study-cards,
    .title-serv {
        display: none;
    }
    .mobile .services {
        flex-wrap: wrap;
    }
    .mobile .services .card {
        width: 40%;
        margin-bottom: 30px;
    }
    .mobile .services .card .icon {
        font-size: 24px;
    }
    .mobile .services .card .serv-titl {
        font-size: 16px;
    }
    .mobile .services .card .serv-p {
        display: none;
    }
}

@media(min-width: 1024px) {
    .skills ul {
        padding: 0 625px;
    }

    .downl-PC{
        display: block;
        text-align: center;
        margin: 60px 0;
    }

    .downl-mobile {
        display: none;
    }

    .contact-me {
        width: 50%;
        padding-top: 30px;
    }

    .contact-me #form h3{
        font-size: 40px;
    }

    .contact-me #form p{
        font-size: 16px;
        text-align: center;
    }

    .contact-me #form label {
        font-size: 18px;
    }

    .contact-me #form button{
        width: 30%;
        margin: 20px auto;
    }

    .contact-me #form button:hover{
        cursor: pointer;
    }
}